<?xml version="1.0" encoding="UTF-8"?>

<!-- /dev/input/by-id/usb-Inno_GamePad.._Inno_GamePad.._0000001-joystick -->

<Config>
    <ControlCenter>
        <ActiveDevice device="KEYBOARD" path="/dev/input/event4" />
        <ZMQPipeline tcp="0.0.0.0:5001" pyinterface-active = "FALSE" pyinterface-transport="interfacetransport" />
        <VideoPipeline port="5000"/>
        <ObjectDetector active="TRUE" model="/home/gjshk527/repos/Steinbeis/adtf/adtf.experiments.video/tensorflow-training/Tensorflow/workspace/models/my_ssd_mobnet/tfliteexport/saved_model/detect.tflite" model_size="320" labels="/home/gjshk527/repos/Steinbeis/adtf/adtf.experiments.video/tensorflow-training/labels.txt" confidence_threshold="0.5" quantized="FALSE" />
    </ControlCenter>
</Config>